@model List<DataModel.MakaleKategori>
@{
    Layout = "~/Views/Shared/siteLayout.cshtml";
}

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Makale Adı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var makaleKategori in Model)
                {
                    <tr>
                        <td>@makaleKategori.Kategori.Ad</td>
                        <td>@makaleKategori.Makale.Ad</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

