<div id="altBaslikDiv" class="container">
    <div id="altBaslikYazilari" class="row">
        <div class="col">
            <p>makaleler.com her hakkı saklıdır.</p>
        </div>
        <div class="col">
            <button id="iletisimButon" type="button" class="btn btn-secondary">İletişim</button>
        </div>
    </div>
</div>
