<div id="baslikDiv" class="container">
    <div id="baslikYazilari" class="row">
        <div id="siteisimId" class="col">
            <h3><a style="color:black; text-decoration:none" href="~/Makale/Anasayfa">makaleler.com.tr</a></h3>
        </div>
        <div id="girisId" class="col">
            <h6><a style="color:black" href="~/Makale/Anasayfa">Giriş</a></h6>
        </div>
    </div>
</div>
